---
import Layout from "@/layouts/Layout.astro";
import About from "@/components/About.astro";
import Init from "@/components/Init.astro";
import Experience from "@/components/Experience.astro";
import Contact from "@/components/Contact.astro";
---

<Layout title="Portafolio">
  <main>
    <Init />
    <!-- <About /> -->
    <Experience />
    <Contact />
  </main>
</Layout>
<style></style>
