---
import ImageFondo from "../assets/img/fondo.jpg";
---

<section id="about" class="bg-dark-100 flex flex-col h-screen">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <!--div class="mx-auto max-w-2xl py-16 sm:py-1 lg:max-w-none lg:py-32"-->
    <!--h2 class="text-2xl font-bold text-gray-900">Collections</h2-->

    <div class="lg:grid lg:grid-cols-2 lg:gap-x-6 lg:space-y-0">
      <div class="group relative">
        <div
          class="relative h-full w-full overflow-hidden sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-100"
        >
          <img
            src={ImageFondo.src}
            alt="Desk with leather desk pad, walnut desk organizer, wireless keyboard and mouse, and porcelain mug."
            class="h-full w-full object-cover object-center"
          />
        </div>
      </div>
      <div class="group relative">
        <div class="mx-auto max-w-2xl py-16 sm:py-1 lg:max-w-none lg:py-32">
          <h1 class="primary text-center lg:py-4">Software Develop</h1>
          <h2 class="second text-center">Hello and Welcome!</h2>
          <p class="second text-center">
            I'm dedicated to staying up-to-date with the latest web technologies
            and best practices, constantly striving to improve my skills and
            deliver cutting-edge solutions to my clients. Whether you need a
            simple landing page, a complex web application, or anything in
            between, I'm here to turn your vision into reality
          </p>
          <div class="flex y justify-center">
            <div class="flex space-x-4">
              <button
                type="button"
                class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 me-2 mb-2"
              >
                <svg
                  width="25"
                  height="25"
                  viewBox="0 0 63 61"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M31.2062 0C13.9906 0 0.0374756 13.9531 0.0374756 31.1688C0.0374756 44.9375 8.9656 56.6219 21.3531 60.7469C22.9125 61.0281 23.475 60.0688 23.475 59.2438C23.475 58.5031 23.45 56.5406 23.4406 53.9438C14.7687 55.825 12.9375 49.7625 12.9375 49.7625C11.525 46.1625 9.4781 45.2031 9.4781 45.2031C6.64998 43.2688 9.69373 43.3125 9.69373 43.3125C12.825 43.5313 14.4656 46.525 14.4656 46.525C17.2469 51.2875 21.7656 49.9125 23.5344 49.1156C23.8187 47.1 24.6312 45.725 25.5187 44.9469C18.6 44.1625 11.325 41.4875 11.325 29.5406C11.325 26.1438 12.5406 23.3563 14.525 21.1813C14.2094 20.3906 13.1312 17.2188 14.8344 12.9313C14.8344 12.9313 17.45 12.0906 23.4031 16.1219C25.9456 15.4302 28.5682 15.0772 31.2031 15.0719C33.838 15.0761 36.4608 15.4292 39.0031 16.1219C44.9594 12.0875 47.5719 12.9313 47.5719 12.9313C49.275 17.2188 48.2062 20.3906 47.8812 21.1813C49.8812 23.3563 51.0812 26.1406 51.0812 29.5406C51.0812 41.5188 43.8 44.15 36.8562 44.9219C37.9656 45.8844 38.9656 47.7844 38.9656 50.6906C38.9656 54.8594 38.9281 58.2219 38.9281 59.2438C38.9281 60.0781 39.4844 61.0469 41.075 60.7406C53.4562 56.6094 62.375 44.9344 62.375 31.1688C62.375 13.9531 48.4219 0 31.2062 0Z"
                    fill="white"></path>
                </svg>
              </button>
              <button
                type="button"
                class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 me-2 mb-2"
              >
                <svg
                  width="25"
                  height="25"
                  viewBox="0 0 57 57"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M53.125 0.125H3.125C2.2962 0.125 1.50134 0.45424 0.915291 1.04029C0.32924 1.62634 0 2.4212 0 3.25V53.25C0 54.0788 0.32924 54.8737 0.915291 55.4597C1.50134 56.0458 2.2962 56.375 3.125 56.375H53.125C53.9538 56.375 54.7487 56.0458 55.3347 55.4597C55.9208 54.8737 56.25 54.0788 56.25 53.25V3.25C56.25 2.4212 55.9208 1.62634 55.3347 1.04029C54.7487 0.45424 53.9538 0.125 53.125 0.125ZM16.6844 48.0531H8.33437V21.2094H16.6844V48.0531ZM12.5094 17.5438C11.2264 17.5438 9.99595 17.0341 9.08875 16.1269C8.18154 15.2197 7.67187 13.9892 7.67188 12.7063C7.67187 11.4233 8.18154 10.1928 9.08875 9.28562C9.99595 8.37841 11.2264 7.86875 12.5094 7.86875C13.7924 7.86875 15.0228 8.37841 15.93 9.28562C16.8372 10.1928 17.3469 11.4233 17.3469 12.7063C17.3469 13.9892 16.8372 15.2197 15.93 16.1269C15.0228 17.0341 13.7924 17.5438 12.5094 17.5438ZM47.9312 48.0531H39.5906V35C39.5906 31.8875 39.5344 27.8844 35.2531 27.8844C30.9094 27.8844 30.25 31.2781 30.25 34.7812V48.0562H21.9156V21.2125H29.9156V24.8813H30.0312C31.1406 22.7719 33.8656 20.5469 37.9188 20.5469C46.3687 20.5469 47.9281 26.1031 47.9281 33.3344L47.9312 48.0531Z"
                    fill="white"></path>
                </svg>
              </button>
              <button
                type="button"
                class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 me-2 mb-2"
              >
                <svg
                  width="25"
                  height="25"
                  viewBox="0 0 64 48"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M53.1562 1.65624L49.1562 4.78124L32.125 17.4375L15.0937 4.65624L11.0937 1.53124C10.1514 0.751697 9.00106 0.265744 7.78525 0.133587C6.56943 0.00143129 5.34156 0.228881 4.25375 0.787756C3.16594 1.34663 2.26599 2.21237 1.66541 3.27772C1.06483 4.34308 0.789997 5.56122 0.874971 6.78124V43C0.874971 44.1272 1.32274 45.2082 2.11977 46.0052C2.9168 46.8022 3.9978 47.25 5.12497 47.25H15.0937V23.125L32.125 35.9062L49.1562 23.125V47.25H59.125C60.2521 47.25 61.3331 46.8022 62.1302 46.0052C62.9272 45.2082 63.375 44.1272 63.375 43V6.78124C63.4336 5.57175 63.1397 4.37125 62.5289 3.32569C61.9181 2.28012 61.0166 1.43451 59.9342 0.891651C58.8518 0.348789 57.635 0.132054 56.4317 0.26779C55.2284 0.403527 54.0905 0.885889 53.1562 1.65624Z"
                    fill="white"></path>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/div-->
</section>
<style>
  img {
    display: block;
    width: 100%;
    height: 100%;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  }
</style>
